* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
	font-size: 20px;
    line-height: 1.5em;
    /* background: #1f1f2c; */
    background: black;
    color: aliceblue;
}

/*nav*/
nav{
    background:#141421;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
}

nav a{
    display: block;
	color: #558f98;
	padding: 0.27em 1.5em;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color 1s, background-color 0.5s;
}

nav a:hover{
    color:#77c6d2;
    background-color:#323941;

}

#home-link a{
    color: #935640;
}
#home-link a:hover{
    color:#e38765;
}

/*header*/
header{
    position: relative;
    margin-top: 40px;
}

#eq-header{
    width: 100%;
}

#header-content h1{
    font-family: 'Orbitron', sans-serif;
}

#header-content h2{
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Orbitron', sans-serif;
}

#header-content a{
    text-decoration: none;
    background: #141421;
    color: #558f98;
    font-size: 15px;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
}

#header-content a:hover{
    background: #323941;
    color: #77c6d2;
}

/*popup*/
#header-cause-popup{
    position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}

#header-cause-popup .cause-list {
	background: #141421;
	margin: 5em;
	padding-top: 5em;
	box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
	position: relative;
    border-radius: 5px;
}

#header-cause-popup .close-button a {
	color:#558f98;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.25em;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
    margin: 1em;
    font-family: 'Orbitron', sans-serif;
}

#header-cause-popup .close-button a:hover{
    color: #77c6d2;
}

#header-cause-popup .close-button a:before {
	content: "\2716"; /* Unicode for an 'x' icon */
	padding-right: 5px;
	
}

body.show-header-cause-popup {
	overflow: hidden; /* Temporarily disables page scrolling */
}

body.show-header-cause-popup #header-cause-popup {
	visibility: visible;
	opacity: 1;
}

/*popup-content*/
#header-cause-popup .popup-content{
    margin: 4em;
    padding-bottom:5em;
}


.pop-video{
    width: 90%;
    padding: 2em;
    margin-bottom: 4em;
    border: solid 2px #558f98;
    border-radius: 30px;
    text-align: center;
}
#header-cause-popup .popup-content h1{
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}

.popup-content h2{
    font-family: 'Orbitron', sans-serif;
}

#header-cause-popup .popup-content p{
    margin: 2em;
}

#header-cause-popup .popup-content .popup-img{
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 3em;
}

.popup-img img{
    height: 300px;
    margin-right: 2em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 4px #558f98;
}

/*section*/
section{
    margin-top:150px;
}

#sec-header{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
#sec-header h1{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}

section .left{
    margin:20px 40px 40px 40px;
}
.left h4{
    float: left;
    font-size: 20px;
    color: #558f98;
    font-family: 'Orbitron', sans-serif;
}
.left ul{
    clear: left;
    font-size: 16px;
}
section .right{
    margin:20px 40px 40px 40px;
}
.right h4{
    font-size: 20px;
    color: #558f98;
    font-family: 'Orbitron', sans-serif;
}
.right ul{
    clear: left;
    font-size: 16px;
}


/*common-sense*/
#common-sense{
    width: 100%;
    margin-bottom:50px;
}
#common-sense h2{
    margin-left: 40px;
    font-family: 'Orbitron', sans-serif;
}

#com-sense-video{
    border: solid 2px #558f98;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
#com-sense-video iframe{
    width: 70%;
    height: 380px;
    
}
#common-sense li{
    padding-bottom: 8px;
}
/*expand*/
/*left-expand*/
#expend-content1 .expand-button{
    display: none;
}
body.js #expand-content1 .expand-button{
    display: block;
}

body.js #expand-content1 .expand-button a {
	color: #558f98;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

body.js #expand-content1 .expand-button a:after {
	content: "\25BC";
	padding-left: 0.25em;
}

body.js #expand-content1 .stats {
	height: 0;
	overflow: hidden;
	transition: all 1s ease;
}

body.js #expand-content1.expanded .expand-button {
	display: none;
}

body.js #expand-content1.expanded .stats {
    height: 100%;
    margin-left: -1em;
}

body.js #expand-content1.expanded .stats li:before{
    content: "\272A";
    padding-right: 0.5em;
    font-size: 15px;
    color:#558f98; 
}
/*right-expand*/
#expend-content2 .expand-button{
    display: none;
}
body.js #expand-content2 .expand-button{
    display: block;
}

body.js #expand-content2 .expand-button a {
	color: #558f98;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

body.js #expand-content2 .expand-button a:after {
	content: "\25BC";
	padding-left: 0.25em;
}

body.js #expand-content2 .stats {
	height: 0;
	overflow: hidden;
	transition: all 1s ease;
}

body.js #expand-content2.expanded .expand-button {
	display: none;
}

body.js #expand-content2.expanded .stats {
    height: 100%;
    margin-left: -1em;
}

body.js #expand-content2.expanded .stats li:before{
    content: "\272A";
    padding-right: 0.5em;
    font-size: 15px;
    color:#558f98; 
}

/*shelter*/
#shelter{
    clear:left;
    padding-top: 150px;
}
#shelter h2{
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
}



/*banner2*/
#eq-banner2{
    width: 100%;
}

/*tools-making*/
#tools-making{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
#tools-making h2{
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
}

/*food&water*/
#food-and-water{
    margin-top: 150px;
    width:100%;
}

#food-and-water h2{
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
}

#food-and-water figure{
    border: solid 2px #558f98;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
/*footer*/
footer{
    background: #141421;
    position: relative;
    padding-top: 1.5em;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
}

footer #footer-left{
    float: left;
}
#footer-left ul{
    display: flex;
    justify-content: flex-start;
}

#footer-left li{
    list-style: none;
    padding: 1em 1em;
}

#footer-left a{
    text-decoration: none;
    color: #558f98;
}

#footer-left a:hover{
    color: #77c6d2;
}

footer #footer-right{
    float: right;
    padding: 1em 2em;
}

#footer-right label{
    color:aliceblue;
    font-size: 20px;
    padding: 1em 0 1em 0;
}

#email{
    width: 220px;
    height: 24px;
    line-height: 20px;
    font-size: 20px;
    color: aliceblue;
    border: 2px solid #558f98;
    background: #1f1f2c;
    border-radius: 5px;
}

#email::placeholder{
    color:#4f4f5a;
}

#submit{
    background: #363544;
    color: #558f98;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    height:28px;
    width:80px;
    float:right;
    transition: color 0.5s, backgound 0.5s;
}

#submit:hover{
    color: #77c6d2;
    background: #323941;
}



@media(min-width:900px){
    /*nav*/
    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    /*header*/
    header{
        display: flex;
        position: relative;
    }
    #eq-header{
        height: 100%;
    }
    #header-content{
        position: absolute;
        top: 25%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    #header-content h1{
        font-size: 66px;
        margin-bottom: 28px;
    }
    #header-content p{
        margin-bottom: 30px;
    }

    #header-content ul{
        margin-left: 50px;
    }

    /*section*/

    #section1{
        margin:150px 150px 50px 150px;
    }

    .left{
        width: 40%;
        float: left;
        
    }
    
    .right{
        width: 40%;
        float: right;
        
    }

    #section2{
        margin: 50px 150px 150px 150px;
    }
    #tools-making iframe{
        /* width="966" height="543" */  
        width:483px;
        height: 272px;
        margin: 20px;
    }
    
    #food-and-water figure{
        width: 40%;
    }

    #food-and-water img{
        width: 100%;
        margin: 0 auto;
    }

    #water-supply{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    #water-supply div{
        width: 40%;
        margin-right: 100px;  
    }

    #water-supply img{
        margin-top:1em;
    }

    #food-supply{
        display: flex;
        justify-content: center;
    }
    #food-supply div{
        width: 40%;
        margin-left: 100px;
    }
    #food-supply h2{
        text-align: right;
    }

    
}
